<!DOCTYPE html ng-app="myApp">
<html>
<head>
<title>Suntist- Online Test</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="ListController">
 
<div class="top_header">

<h1>SUNTIST</h1>

</div>
 

  <form id="suntForm"   ng-submit="addNew(personalDetails)">
     
    <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input" ng-model="personalDetails.fname" required">Enter your name</label><i class="bar"></i>
    </div>
    
     <div class="form-group">
      <input type="text" required="required"/>
      <label class="control-label" for="input" ng-model="personalDetails.lname" required>Enter your age</label><i class="bar"></i>
    </div>

    
    <div class="form-radio">
      <div class="radio">
        <label>
          <input type="radio" name="radio" checked="checked"/><i class="helper"></i>Male
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radio"/><i class="helper"></i> Female
        </label>
      </div>
    </div>
    <div class="button-container">
    <button class="button" type="button" ng-click="reset()"><span>Submit</span></button>
  </div>
  </form>



 <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
         </tr>
      </thead>
      <tbody>
        <tr ng-repeat="personalDetail in personalDetails">

 <td>{{personalDetail.fname}}</td>
                            <td>{{personalDetail.lname}}</td>
                            <td>{{personalDetail.email}}</td>

        <!--   <td data-title="ID">1</td>
          <td data-title="Name">Material Design Color Palette</td>
          <td data-title="Link">
            <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
          </td> -->
         
        </tr>
        
      </tbody>
    </table>
  </div>



 <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="ID">1</td>
          <td data-title="Name">Material Design Color Palette</td>
          <td data-title="Link">
            <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
          </td>
         
        </tr>
        
      </tbody>
    </table>
  </div>






<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName">
    <br><br>
    <button ng-click="reset()">RESET</button>
  </form>
  <p>form = {{user}}</p>
  <p>master = {{master}}</p>
</div>

 



<script src="js/main.js"></script>
</body>

</html>
